html, body {
	margin: 0;
	padding: 0.5rem;
}

body {
	font-size: 1rem;
	background: #fff;
}

button, input, select {
	font-size: 1rem;
}

h1 {
	margin: 0 0 1rem 0;
}

p {
	font-size: inherit;
}

.notification {
	font-style: italic;
}
